<!DOCTYPE html>
<html>
  <head>
    <title>To do</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
   <h1 style="margin-bottom: 32px"> To Do List 😉</h1>
   <div class="container">
   
    <%= yield %>
    </div>
  <footer class="text-muted">
    <div class="footercontainer">
       <p> Bogotá BootCamp - María Catalina Gallego - ToDoList® 👌 </p>
    </div>
</footer>
  </body>
 
</html>
